<div class="row justify-content-center text-white">
    <div class="ficha transparent col-12 col-lg-8  z-depth-5 center-align">
        <div class="card-content ">
            <h1>Usuario no activado</h1>
        </div>
        <div class="card-content ">
            <p>Lo sentimos, necesita activar el usuario para poder continuar.</p>

        </div>

        <div class="card-content ">
            <a href="/activar"><button class="btn white">Activar usuario</button></a>
        </div>
    </div>
</div>
