<!DOCTYPE html>
<main class="container white-text">
    <div class="card bg-transparent  z-depth-5">
        <div class="card-content s12">
            <h1 class="center-align">Mi cuenta</h1>
            <div class="row">
                <p for="firstname" class="card-title col-sm-4">Nombre</p>
                <p class="col-sm-8">Gabriel</p>
            </div>
            <div class=" row">
                <p for="firstname" class="card-title col-sm-4">Apellidos</p>
                <p class="col-sm-8">Castro Muñoz</p>
            </div>
            <div class="  row">
                <p for="firstname" class="card-title col-sm-4">Email</p>
                <p class="col-sm-8">lakgnssong#gmail.com</p>
            </div>

        </div>
    </div>
</main>