.footer-bg {
    background-color: #121212;
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: block;
}

.footer-data {
    margin: 25px 0px;
}

.footer-block {
    color: white;
}

.footer-block-content {
    font-size: 12px;
}

.footer-block-title {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-icon {
    display: inline-block;
    color: white;
    margin: 2px;
}

.footer-logos {
    text-align: center;
}

.footer-logo {
    height: 60px;
    width: auto;
    margin: 5px;
}