<nav class="navbar navbar-expand-lg navbar-dark z-depth-3" ngbDropdown>
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logos/logo_ofs_dark.png" width="30" height="30" class="navbar-logo" alt="OFS">
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation" (click)="toggleNavbarCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="isNavbarCollapsed" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="dropdown nav-item" ngbDropdown>
                <a class="dropdown-toggle nav-link" id="id01" ngbDropdownToggle>Monitorización</a>
                <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/monitorizacion/camaras']" routerLinkActive="router-link-active">Cámaras</a>
                    <a class="dropdown-item" [routerLink]="['/monitorizacion/estacion-meteorologica']">Estación meteorológica</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/equipamiento']">Equipamiento</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/reservas']">Reservas</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/controles']">Experimentos</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link">Contacto</a>
            </li> -->

        </ul>
        <ul class="navbar-nav ml-auto">
            <a *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/register']">Regístrate</a>
            <a *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/login']">Login</a>
            <li class="nav-item" class="dropdown nav-item" ngbDropdown>
                <a *ngIf="isLoggedIn" class="dropdown-toggle nav-link" id="id02" ngbDropdownToggle>{{userName}}</a>
                <div *ngIf="isLoggedIn" class="dropdown-menu" aria-labelledby="id02" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/perfil']">Mi cuenta</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
