<div class="landing-title">Estación meteorológica</div>

<div style="text-align: center;">
    <!-- Temperature Dashboard -->
    <iframe class="weather-panel" src="http://138.100.9.248:3000/d-solo/nmNf5GxZk/landing-page-weather?orgld=1&orgId=1&from=1575363574311&to=1575363874311&refresh=1m&panelId=2" width="200" height="200" frameborder="0"></iframe>

    <!-- Humidity Dashboard -->
    <iframe class="weather-panel" src="http://138.100.9.248:3000/d-solo/nmNf5GxZk/landing-page-weather?orgld=1&orgId=1&from=1575363614620&to=1575363914621&refresh=1m&panelId=4" width="200" height="200" frameborder="0"></iframe>

    <!-- Pressure Dashboard -->
    <iframe class="weather-panel" src="http://138.100.9.248:3000/d-solo/nmNf5GxZk/landing-page-weather?orgld=1&orgId=1&from=1575363692460&to=1575363992460&refresh=1m&panelId=6" width="200" height="200" frameborder="0"></iframe>
    
    <!-- Precipitation Dashboard -->
    <iframe class="weather-panel" src="http://138.100.9.248:3000/d-solo/nmNf5GxZk/landing-page-weather?orgld=1&orgId=1&from=1575414000000&to=1575500399999&panelId=8"  width="200" height="200" frameborder="0"></iframe>

    <!-- Wind Speed Dashboard -->
    <iframe class="weather-panel" src="http://138.100.9.248:3000/d-solo/nmNf5GxZk/landing-page-weather?orgld=1&orgId=1&from=1575414000000&to=1575500399999&panelId=10"  width="200" height="200" frameborder="0"></iframe>
</div>
