<div class="container">
    <div class="row">
        <fa-icon (click)="handleClickUp()" [icon]="faChevronUp" class="col-auto ml-auto mr-auto pb-3 no-select"></fa-icon>
    </div>
    <div class="row">
        <fa-icon (click)="handleClickLeft()" [icon]="faChevronLeft" class="col-auto ml-auto no-select"></fa-icon>
        <fa-icon (click)="handleClickCenter()" [icon]="faCircle" class="col-auto no-select"></fa-icon>
        <fa-icon (click)="handleClickRight()" [icon]="faChevronRight" class="col-auto mr-auto no-select"></fa-icon>
    </div>
    <div class="row">
        <fa-icon (click)="handleClickDown()" [icon]="faChevronDown" class="col-auto ml-auto mr-auto pt-3 no-select"></fa-icon>
    </div>
</div>