<div class="row justify-content-center text-white">
    <div class="ficha transparent col-12 col-lg-8  z-depth-5 center-align">
        <div class="card-content ">
            <h1>Error</h1>
        </div>
        <div class="card-content ">
            <p>Lo sentimos, no se ha podido realizar reserva. </p>
            <p>Por favor, inténtelo de nuevo más tarde.</p>
            <a href="/activar"> ¿No has activado tu cuenta?</a>
        </div>

        <div class="card-content ">
            <a href="/reservas/"><button class="btn white">Volver a reservar</button></a>
        </div>
    </div>
</div>