html {
    scrollbar-color: #666 #201c29;
}

full-calendar *::-webkit-scrollbar {
    width: 0.75em;
    background-color: transparent;
}

full-calendar *::-webkit-scrollbar-thumb {
    /* background: linear-gradient(180deg, #fffefc, #c02ee5);
  border-radius: 30px;*/
    border-radius: 35%;
    background: #12cae8cc;
    border: 3px solid #afaf3fb8;
}

full-calendar * {
    border: none !important;
    color: white !important;
    border-color: transparent
}

full-calendar a {
    user-select: none;
}

full-calendar th {
    overflow: hidden;
}

full-calendar th a {
    color: #aff55e !important;
}

full-calendar tr {
    border-bottom: 1px solid rgb(255 255 255 / 60%) !important;
}

full-calendar tr td {
    border-right: 1px dashed rgb(255 255 255 / 60%) !important;
}

html::-webkit-scrollbar {
    width: 1em;
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    /* border-radius: 30px;
  background-color: #71bdf0;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
*/
    border: 3px solid #afaf3fb8;
    border-radius: 15%;
    background: #ffffffcc;
}

html {
    overflow-y: scroll;
}


}