@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: radial-gradient(ellipse at bottom, #204980 0%, #000000 100%);
    background-attachment: fixed;
    // background: radial-gradient(ellipse at bottom, #23262a 0%, #000000 100%);
}

.bluesky{

    background: radial-gradient(ellipse at bottom, #204980 0%, #000000 100%);
}
.bluesky-reverse{

    background: radial-gradient(ellipse at top, #204980 50%, #000000 100%);
}
app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.image {
    width: 100%;
}

.clear {
    clear: both;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
