<div class="row justify-content-center text-white">
    <div class="ficha transparent col-12 col-lg-8  z-depth-5 center-align">
        <div class="card-content ">
            <h1>Servicio no disponible</h1>
        </div>
        <div class="card-content ">
            <p>Lo sentimos, el servicio solicitado no se encuentra disponible en este momento.</p>

        </div>

        <div class="card-content ">
            <a href="/"><button class="btn white">Volver al inicio</button></a>
        </div>
    </div>
</div>