.empty-container {
    min-height: calc(100vh - 212px);
}

.panel-container {
    margin-top: 66px;
    position: relative;
    width: 100%;
    padding: 0 20px;
    min-height: calc(100vh - 249px);
    .camera-container {
        color: white;
        padding: 10px;
        .panel-img {
            display: block;
            width: 100%;
        }
    }
}

.loader {
    border: 16px solid #00000017;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}