<div class="row justify-content-center text-white">
    <div class="ficha transparent col-12 col-lg-8  z-depth-5 center-align">
        <div class="card-content ">
            <h1>Error</h1>
        </div>
        <div class="card-content ">
            <p>Lo sentimos, no se ha podido completar el proceso. Inténtelo de nuevo más tarde.</p>

        </div>

        <div class="card-content ">
            <a href="/recuperar/"><button class="btn white">Volver intentar</button></a>
        </div>
    </div>
</div>