<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-12">
        <label for="password" class="card-title">Nueva Contraseña</label>
        <input id="password" type="password" class="white-text" formControlName="password" required>
    </div>
    <div class="form-group col-12">
        <label for="repeatPassword" class="card-title">Repetir Contraseña</label>
        <input [ngClass]="passwordForm.hasError('notSame')?'invalid':''" id="repeatPassword" type="password" class="white-text" formControlName="repeatPassword" required>
        <div *ngIf="passwordForm.hasError('notSame')">
            Las contraseñas no son iguales.
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            <button type="submit" class="btn white col-3 ml-auto mr-3" [disabled]="!passwordForm.valid ">Enviar</button>
        </div>
    </div>
</form>